<section class="content-header">
  <h1>Datafeed</h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Datafeed</li>
  </ol>
</section>
<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Datafeed</h3>
      <div class="box-body">
        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
          <h4>{{alert.title}}</h4>
          <p>{{alert.msg}}</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Select Datasource</label>
              <select class="form-control" ng-model="vm.current_datasource" ng-change="vm.changeDatasource()">
                <option ng-repeat="source in vm.datasources" value="{{source.alias}}">{{source.alias}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="box-body">
      <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" dt-columns="vm.dtColumns"></table>
    </div>
    <div class="box-footer">
    </div>
  </div>
</section>
