<section class="content-header">
  <h1>ChartJS<small>Preview sample</small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Chart Data</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Select Datasource</label>
        <select class="form-control" ng-model="vm.current_datasource" ng-change="vm.changeDatasource()">
          <option ng-repeat="source in vm.datasources" value="{{source.alias}}">{{source.alias}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Select Primary Key Field</label>
        <select class="form-control" ng-model="vm.primary_field" ng-change="vm.changePrimaryField()">
          <option ng-repeat="source in vm.providers" value="{{source.column_id}}">{{source.title}}</option>
        </select>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label>Select Columns</label>
        <select multiple class="form-control" ng-options="provider.column_id for provider in vm.providers" ng-model="vm.selected_columns" >              
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Add/Remove Columns</label>
        <div class="col-md-12">
          <button type="button" class="btn btn-block btn-default" ng-click="vm.addColumns()">Add</button>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-block btn-default" ng-click="vm.removeColumns()">Remove</button>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label>Display Columns</label>
        <select multiple class="form-control" ng-options="provider.column_id for provider in vm.display_columns" ng-model="vm.selected_columns" >              
        </select>
      </div>
    </div>
  </div>-->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Total Counts</label>
        <input type="text" disabled class="form-control" ng-model="vm.totalCount" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Start From</label>
        <input  class="form-control"type="text" ng-model="vm.start_from" ng-change="vm.changeFilterStart()" />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Select Filter Range</label>
        <select class="form-control" ng-model="vm.feed_length" ng-change="vm.changeFeedLength()">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Area Chart</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <!--<strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>-->
              </p>
              <div class="chart">
                <canvas id="area" class="chart chart-line" chart-data="vm.areaChartData" chart-labels="vm.areaChartLabels" chart-legend="false" chart-series="vm.areaChartSeries" chart-click="vm.onClick" chart-colours="vm.areaChartColours" style="height: 180px;">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Line Chart</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <!--<strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>-->
              </p>
              <div class="chart">
                <canvas id="line" class="chart chart-line" chart-data="vm.lineChartData" chart-labels="vm.lineChartLabels" chart-legend="false" chart-series="vm.lineChartSeries" chart-click="vm.onClick" style="height: 180px;">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--<div class="col-md-6">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Donut Chart</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <div class="chart-responsive">
                <canvas id="doughnut" height="200" class="chart chart-doughnut" chart-data="vm.pieData" chart-labels="vm.pieLabels">
                </canvas>
              </div>
            </div>
            <div class="col-md-4">
              <ul class="chart-legend clearfix">
                <li><i class="fa fa-circle-o text-red"></i> Chrome</li>
                <li><i class="fa fa-circle-o text-green"></i> IE</li>
                <li><i class="fa fa-circle-o text-yellow"></i> FireFox</li>
                <li><i class="fa fa-circle-o text-aqua"></i> Safari</li>
                <li><i class="fa fa-circle-o text-light-blue"></i> Opera</li>
                <li><i class="fa fa-circle-o text-gray"></i> Navigator</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li><a>United States of America <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
            <li><a>India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a></li>
            <li><a>China<span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
          </ul>
        </div>
      </div>
    </div>-->
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Bar Chart</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                <!--<strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>-->
              </p>
              <div class="chart">
                <canvas id="area" class="chart chart-bar" chart-data="vm.barChartData" chart-labels="vm.barChartLabels" chart-legend="false" chart-series="vm.barChartSeries" chart-click="vm.onClick" chart-colours="vm.barChartColours" style="height: 250px;">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
